{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'hod_index.html' %}
{% block body %}

<form id="form1" name="form1" method="post" action="{% url 'search_subject' %}#about">
  <table width="200" border="1" class="table table-dark table-hover">
    <tr>
      <th>DEPARTMENT</th>
      <td>
        <select name="department_id" style="width: 200px;">
          {% for i in dept %}
          <option value="{{i.id}}" {% if dept_id == i.id %} selected {% endif %}>{{ i.department }}</option>
          {% endfor %}  
        </select>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <input type="submit" value="search">
      </td>
    </tr>
    <tr>
      
      <th>SUBJECTS</th>
      <td>&nbsp;</td>
    </tr>
      {% for i in obj %}
    <tr>
      <td>&nbsp;{{ i.Subject }}</td>
      <td>
	  <a href="{% url 'delete_subject' subject_id=i.id %}#about">DELETE</a><br>
    </tr>
      {% endfor %}
    <tr>  
      <td colspan="5"><div align="center">
        <a href="{% url 'add_subject' %}#about">ADD</a>
      </div></td>
    </tr>
  </table>
</form>
{#</body>#}
{#</html>#}
{% endblock %}